body { background-image: url('https://abstracthdwallpapers.files.wordpress.com/2012/07/jelly-bean-android-nexus_7-wallpapers-1680x10501.jpg');  background-size: cover; font-family: "Times New Roman",  serif } 
h2{text-shadow: 2px 2px 3px #000; font-family: "Segoe Script",  sans-serif }
h1{text-shadow: 2px 2px 3px #000; font-family: "Segoe Script",  serif}
table { color: #5A1E85; border-color: #B380D7; font-size: 20px; }