  body { background-color: #FFA07A;  font-family: Vergana,  serif}
h2 {font-family: "Segoe Script",  serif;  color: #89440B; text-align:center;}
p.one  { border: 5px dashed #D38240; }
.two {background-color: #FF8C00; high: 200px; width: 350px; font-family: "Segoe Script",  serif;  font-size: 26px;}